.navbar-img {
  width: 35px;
  border-radius: 50%;
}

body {
  margin: 0;
  background-color: #1c1e21;
}

.navbar-header {
  width: 100%;
  height: 70px;
  background-color: #232626;

  align-items: center;
}

.align-center {
  text-align: center;
}

.flex {
  display: flex;
}

.navbar-header-section-1 {
  width: 33%;

  text-align: center;
}

.navbar-header-section-2 {
  width: 33%;
  text-align: center;
}

.navbar-header-section-3 {
  width: 30%;
  text-align: center;
}

.header-search-container {
  margin-left: 1em;
}

.search-input {
  width: 250px;
  border-radius: 15px;
  color: white;
  border: none;
  background-color: #3a3b3c;
  margin-left: 1em;
}

.middle-actions {
  margin-left: 50px;
}
